# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# VSCode directories
.vscode

# MacOS files
.DS_Store

# eslint cache
.eslintcache